{% extends "base.html" %} {% block title %}Trip Results{% endblock %}
{% block content %}
<link href="/static/weathercard.css" rel="stylesheet" />
<br>


<div class="card4">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="https://www.mapquestapi.com/staticmap/v5/map?start={{tripDescription.HomeAddress}}&end={{tripDescription.Destination}}&size=@2x&key={{mapquestKey}}"
                class="card-img">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title"><u>Trip Summary</u></h5>
                <ol class="gradient-list">
                    <li>
                        <div class="column"><b>&ensp;&ensp;&ensp;TOTAL TIME:</b></div>
                        <div class="column">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{ tripDescription.time }} </div>
                    </li>
                    <li>
                        <div class="column"><b>&ensp;&ensp;&ensp;DISTANCE:</b></div>
                        <div class="column">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{ tripDescription.distance }} Miles
                        </div>
                    </li>
                    <li>
                        <div class="column"><b>&ensp;&ensp;&ensp;FUEL USED:</b></div>
                        <div class="column">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{ tripDescription.fuel }} Gallons</div>
                    </li>
                    <li>
                        <div class="column"><b>&ensp;&ensp;&ensp;COST OF FUEL BASED OFF OF ORIGIN STATE AVERAGE:</b>
                        </div>
                        <div class="column">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;$ {{ tripDescription.cost }}</div>
                    </li>
                <br>
                <br>
                <br>
            </div>
        </div>
        <form method="POST">
            <button type="delete" name="delete" value="delete" class="btn btn-danger btn-lg float-right">Delete Trip</button>
        </form>
    </div>
</div>


<br>
<div class="column3">
    <div class="card2">
        <div class="card-body">
            7 Day Weather Forcast
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.mondayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.mondayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.mondayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.mondayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.tuesdayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.tuesdayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.tuesdayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.tuesdayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.wensdayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.wensdayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.wensdayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.wensdayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.thursdayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.thursdayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.thursdayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.thursdayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.fridayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.fridayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.fridayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.fridayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.saturdayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.saturdayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.saturdayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.saturdayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
    <div class="card"> <span class="icon"><img class="img-fluid"
                src="http://openweathermap.org/img/wn/{{tripDescription.sundayIcon}}@2x.png"></span>
        <div class="title">
            <p>{{ tripDescription.Destination }}</p>
        </div>
        <div class="temp">{{ tripDescription.sundayDescription }}</div>
        <div class="row">
            <div class="col-6">
                <div class="header">HIGH</div>
                <div class="value">{{ tripDescription.sundayMaxTemp }}<sup>&deg;</sup></div>
            </div>
            <div class="col-6">
                <div class="header">LOW</div>
                <div class="value">{{ tripDescription.sundayMinTemp }}<sup>&deg;</sup></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}