{% extends "base.html" %} {% block title %}Dashboard{% endblock %}
{% block content %}

<br>
<div class="card text-center">
    <div class="card-header" style="background-color:aqua">
      
    </div>
    <div class="card-body">
      <h5 class="card-title" style="font-size:30px">WELCOME TO YOUR ULTRATRIP DASHBOARD</h5>
    </div>
    <div class="card-footer text-muted" style="background-color:aqua">
      
    </div>
  </div>
<br>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><u>Your Trips</u></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

<table id="example" class="table table-striped table-bordered" style="width:100%; background-color: rgb(253, 253, 253);">
    <thead>
        <tr>
            <th></th>
            <th class="text-secondary">ORIGIN</th>
            <th class="text-secondary">DESTINATION</th>
        </tr>
    </thead>
    <tbody>
        {% for trip in user.trip %}
        <tr>
            <td><a class="nav-item nav-link" href="{{url_for('views.currentTrip', id=trip.id)}}">( {{ trip.id }} )</a></td>
            <td>{{ trip.HomeAddress }}</td>
            <td>{{ trip.Destination }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}